# POSTGRESQL
# Если в пароле есть специальные символы, их нужно закодировать в URL. Например, пароль "MyP@ssw0rd!" нужно закодировать как "MyP%40ssw0rd%"
DATABASE_URL="postgresql://postgres:ТВОЙ_ПАРОЛЬ@localhost:5432/ye_chat?schema=public"

JWT_ACCESS_SECRET="replace_with_a_random_secret"

# Здесь введите свои данные для создания тестового пользователя при запуске приложения. Если не нужны, можно оставить пустыми.
SEED_USER_LOGIN=""
SEED_USER_PASSWORD=""