# POSTGRESQL
# Если в пароле есть специальные символы, их нужно закодировать в URL. Например, пароль "MyP@ssw0rd!" нужно закодировать как "MyP%40ssw0rd%"
DATABASE_URL="postgresql://postgres:ТВОЙ_ПАРОЛЬ@localhost:5432/ye_chat?schema=public"